@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth; /*deixar ir aos menus devagar*/
}

/*barra navegação*/

.navbar{
	background: #131313;
	padding: 1rem 5rem;
	z-index: 1000;
}

.navbar .navbar-brand{
	font-size: 1.4rem;
	font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	color: #fff;
	font-size: 1.1rem;
	padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
	color: #00bf85;
}

#navbarSupportedContent button{
	background: #00bf85;
	font-weight: 600;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: black;
}

#navbarSupportedContent button:hover{
	color: #FFF;
}

/*video*/

.mid{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.mid video{
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mid .hero{
	position: relative;
}

.mid .hero p{
	width: 55%;
	font-size: 1.1rem;
	letter-spacing: 0.2px;
	padding: 10px 0;
}

.mid .hero a{
	background: #00bf85;
	font-weight: 600;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: black;
}

.mid .hero a:hover{
	text-decoration: none;
	color: #fff;
}

/*Sobre*/

.about{
	background: #000;
}

.about .text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.about .text h6{
	color: #00bf7f;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 1px;
}

.about .text h2{
	color: #f7f5f4;
	font-weight: 700;
	font-size: 2.7rem;
}

.about .text p{
	color: #f7f5f4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	padding: 10px 0;
}

.about .text a{
	background: #00bf85;
	font-weight: 500;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: black;
	color: #111;
}

.about .text a:hover{
	text-decoration: none;
	color: #fff;
}

/*discover*/


.discover{
	background: ;
}

.discover .text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.discover .text h6{
	color: #00bf7f;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 1px;
}

.discover .text h2{
	color: #111;
	font-weight: 700;
	font-size: 2.7rem;
}

.discover .text p{
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	padding: 10px 0;
}

.discover .text a{
	background: black;
	font-weight: 500;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: #fff;
}

.discover .text a:hover{
	text-decoration: none;
	color: #00bf85;
	background: black;
}

/*download*/

.download{
	background: #000;
}

.download .one{
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	border-radius: 8px;
}

.download .one a{
	background: black;
	font-weight: 500;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: #fff;
}

.download .one a:hover{
	text-decoration: none;
	color: #00bf85;
	background: black;
}

/*team*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
 	text-align: center;
 	font-size: 18px;
 	background: #fff;

 	/* Center slide text vertically */
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
}

#team h2{
	color: black;
	font-weight: 700;
	font-size: 2.7rem;
}

.swiper-slide .text h3{
	font-weight: 200;
}

.swiper-slide .text h3 span{
	font-weight: 500;
}

/*SIGN*/

.sign{
	background: #fff;
}

.sign .text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.sign .text h6{
	color: #00bf7f;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 1px;
}

.sign .text h2{
	color: #111;
	font-weight: 700;
	font-size: 2.7rem;
}

.sign .text p{
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	padding: 10px 0;
}

.sign .text a{
	background: #111;
	font-weight: 500;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: black;
	color: #fff;
}

.sign .text a:hover{
	text-decoration: none;
	color: #00bf85;
	background: black;
}

/*contato*/

#contato{
	background: url(../img/fundo2.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
}

#contato .form-control{
	border: none;
	box-shadow: none;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 22px;
}

#contato .form-control:focus{
	border-color: #00bf85;
}

#contato a{
	background: #00bf85;
	font-weight: 500;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: black;
	color: #111;
}

#contato a:hover{
	text-decoration: none;
	color: #fff;
}


@media screen and (max-width: 988px){
	.navbar{
	padding: 1rem;
}
#navbarSupportedContent > ul{
	padding-left: 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	padding:0.8rem 0;
}

.mid .hero h2{
	font-size: 2.5rem;

}

.mid .hero p{
	font-size: 1rem;
}

.mid .hero a{
	font-size: 0.9rem;
}
}


